@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #181818;
  --color-accent: #b0c28e;
  --color-text: #0f0f0f;
  --color-text-secondary: color-mix(in hsl, var(--color-text), grey);
  --color-text-muted: #706f73;
  --color-bg: #fbfbfa;
  --color-border: #e7e5e5;
}

* {
  @apply m-0 p-0 box-border;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

#app {
  @apply w-full h-screen;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.225s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
