@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #181818;
  --color-text: #0f0f0f;
  --color-text-secondary: #ffffff;
  --color-text-muted: #706f73;
  --color-bg: #fbfbfa;
  --color-border: #e7e5e5;
  --color-bookmark: #facd7b;
}

* {
  @apply m-0 p-0 box-border;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

#app {
  @apply w-full h-screen;
}
